/* fonts */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/media/fonts/rubik-v14-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('/media/fonts/rubik-v14-latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('/media/fonts/rubik-v14-latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('/media/fonts/rubik-v14-latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('/media/fonts/rubik-v14-latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('/media/fonts/rubik-v14-latin-300.svg#Rubik') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/media/fonts/rubik-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('/media/fonts/rubik-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/rubik-v14-latin-regular.woff2') format('woff2'),
        url('/media/fonts/rubik-v14-latin-regular.woff') format('woff'),
        url('/media/fonts/rubik-v14-latin-regular.ttf') format('truetype'),
        url('/media/fonts/rubik-v14-latin-regular.svg#Rubik') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/media/fonts/rubik-v14-latin-500.eot');
    src: local(''),
        url('/media/fonts/rubik-v14-latin-500.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/rubik-v14-latin-500.woff2') format('woff2'),
        url('/media/fonts/rubik-v14-latin-500.woff') format('woff'),
        url('/media/fonts/rubik-v14-latin-500.ttf') format('truetype'),
        url('/media/fonts/rubik-v14-latin-500.svg#Rubik') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/media/fonts/rubik-v14-latin-600.eot');
    src: local(''),
        url('/media/fonts/rubik-v14-latin-600.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/rubik-v14-latin-600.woff2') format('woff2'),
        url('/media/fonts/rubik-v14-latin-600.woff') format('woff'),
        url('/media/fonts/rubik-v14-latin-600.ttf') format('truetype'),
        url('/media/fonts/rubik-v14-latin-600.svg#Rubik') format('svg');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/media/fonts/rubik-v14-latin-700.eot');
    src: local(''),
        url('/media/fonts/rubik-v14-latin-700.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/rubik-v14-latin-700.woff2') format('woff2'),
        url('/media/fonts/rubik-v14-latin-700.woff') format('woff'),
        url('/media/fonts/rubik-v14-latin-700.ttf') format('truetype'),
        url('/media/fonts/rubik-v14-latin-700.svg#Rubik') format('svg');
}

/* main style */
html,
body {
    height: 100vh;
    margin: 0;
    padding: 0 30px 0 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    height: -webkit-fill-available;
    min-height: -webkit-fill-available;
}

p {
    line-height: 1.7em;
    font-size: 18px;
}

a {
    font-weight: 500;
    color: #000;
}

hr {
    border: 0;
    height: 1px;
    margin: 15px 0;
    border-top: 1px solid #ccc;
}

::selection {
    background-color: #A3D977;
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

/* navigation */
#navigation {
    padding: 30px 0;
}

#navigation-title {
    font-weight: 500;
    font-size: 26px;
    color: #000;
    letter-spacing: -1px;
}

#navigation-subtitle {
    font-size: 20px;
    color: #656565;
}

#navigation-logo {
    cursor: pointer;
}

#navigation-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
}

#navigation-links li {
    margin-right: 20px;
}

#navigation-links a {
    text-decoration: none;
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

#navigation-links a:hover {
    color: #000;
}

/* footer */
#footer {
    padding: 30px 0;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline;
    padding-right: 5px;
}

#footer a {
    text-decoration: none;
}

/* content */
#content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headline {
    line-height: 1.2em;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -1px;
}

.feature {
    font-size: 24px;
}

.post_title {
    line-height: 1.2em;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1px;
    margin-bottom: 0px;
}

.post_body {
    font-size: 20px;
}

/* phones */
@media only screen and (max-width: 600px) {

    html,
    body {
        padding: 0 10px;
    }

    .headline {
        font-size: 35px;
    }

    .feature {
        font-size: 18px;
    }

    .post_title {
        font-size: 28px;
    }

    .post_body {
        font-size: 16px;
    }

}
