body{
  background-color:#000;
  font-family: 'Rubik', sans-serif;
}

.title{
  color:#fff;
  font-size:100px;
  font-weight:500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
