body{
  margin:0;
  padding:30px;
  font-family:'Rubik',sans-serif;
  font-size:16px;
}

p{
  line-height:1.5em;
}

a{
  font-weight:500;
  color:#000;
}

hr{
  border:0;
  height:1px;
  margin:15px 0 15px 0;
  border-top:1px solid #ccc;
}

#container{
  max-width:1200px;
  margin:0 auto;
}

#navigation{
  padding-bottom:30px;
}

#footer{
  padding-top:30px;
}

#footer ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

#footer li{
  display:inline;
  padding-right:5px;
}

#footer a{
  text-decoration:none;
}

#navigation-title{
  font-weight:500;
  font-size:24px;
  color:#000;
}

#navigation-subtitle{
  font-size:18px;
  color:#656565;
}

#navigation-links{
  text-align:right;
}

#navigation-links ul{
  margin:0;
}

#navigation-links li{
  display:inline;
  padding-left:15px;
}

.headline{
  line-height:1.3em;
  font-weight:700;
  font-size:50px;
}

.feature{
  font-size:24px;
}

.col-two{
  width:50%;
  float:left;
}

.col-three{
  width:33.33333%;
  float:left;
}

/* Phone Devices */
@media only screen and (max-width: 600px) {

  .headline{
    font-size:25px;
  }

  .feature{
    font-size:16px;
  }

}
